<div class="widget-box" id="recent-box" ng-controller="tasksController" style="width:600px;">
<div class="widget-header header-color-blue">
<div class="row">
<div class="col-sm-6">
<h4 class="bigger lighter">
	<i class="	glyphicon glyphicon-flag"></i>&nbsp;
	FIGHT TO DEATH
</h4>
</div>
<div class="col-sm-3" style="float:right;">

<button class="btn btn-sm btn-danger header-elements-margin" type="submit" ng-click="winTask(taskInput)"> FIGHT TO DEATH</button>
</div>
<div class="col-sm-3">


</div>
</div></div>
<div class="widget-body ">

<div class="task">

</div>
</div>
</div>